<div class="w-full px-2 py-4">
    <p-menubar class="rounded-lg!">
        <ng-template #start>
            <div class="flex items-center gap-x-3">
                <img src="/assets/images/logo.ico" alt="logo" class="w-8 h-8 rounded-lg">
                <h4 class="text-lg font-semibold">Query Glass</h4>
            </div>
        </ng-template>
        <ng-template #end>
            <p-menu #popupMenu [popup]="true" [model]="menuItems()" />
            <button type="button" (click)="popupMenu.toggle($event)" pButton size="small" text [rounded]="true">
                <i class="pi pi-ellipsis-v" pButtonIcon></i>
            </button>
        </ng-template>
    </p-menubar>
</div>