<div class="h-full w-full">
  @if (isLoading()) {
  <div class="w-full mx-auto h-full flex justify-center items-center">
    <p-progress-spinner strokeWidth="6" fill="transparent" animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }" />
  </div>

  }@else if(windows().length>0) {
  <p-table [loading]="isLoading()" [size]="'small'">
    <ng-template #header let-columns>
      <tr>
        @for (column of headers(); track $index) {
        <th>{{column.header}}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (value of headers(); track $index) {
        <td>{{rowData[value.field]}}</td>
        }
      </tr>
    </ng-template>
  </p-table>
  }@else {
  <span class="text-slate-400">No servers added yet to monitor,&nbsp;</span> <button routerLink="configuration"
    type="button" pButton size="small" severity="info">
    <span pButtonLabel>Add</span>
    <i class="pi pi-plus"></i>
  </button>
  }
</div>